body {
    /* background: linear-gradient(225deg, #e0773e 0%, #690070 100%); */
    background: radial-gradient(circle at right bottom, #262626 , #0f0b11);
    background-size: cover;
    /* height:100vh; */
    background-attachment: fixed;
    /* font-family: monospace, 'Courier New', Courier, monospace ; */
    /* font-family: Arial, sans-serif; */
    font: 1rem "Fira Sans", sans-serif;
    color: #f9e38b;
    
}
.map label{
    font-family: monospace, 'Courier New', Courier, monospace ;
    color: #0a0a0a;
}

#mapname {
    font-weight: 900;
}

.map{
    font-family: monospace, 'Courier New', Courier, monospace ;
    color: #0a0a0a;
}

#location-name{
    text-align: center;
}


#pin {
    width: 30px;
    height: auto;
}

.mapboxgl-ctrl-attrib-inner {
    display: none;
}

button{
    border: none;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    border-radius: 16px;
    width: 7%;
    color: #f9f987;
    background-color: #252227;
    border: #fef7d5;
    border-style: ridge;
}

#logo {
    width: 30em;
    height: auto;
}
#login-logo {
    width: 40em;
    height: auto;
}

.login-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #f9e688;
    margin-top: 2rem;
}

.login-box a {
    color: #dddfff;
    text-decoration: none;
}

.login-box input{
    border: none;
    /* padding: 5px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 1%;
    /* cursor: pointer; */
    border-radius: 16px;
    width: 20%;
    height: 1.5rem;
}

.signup-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #f9e688;
}
.signup-box input{
    border: none;
    /* padding: 5px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0.5%;
    border-radius: 16px;
    width: 30%;
    height: 1.5rem;
}

.signup-box a{
    color: #dddfff;
    text-decoration: none;
}

#upload{
    margin-left: 6%;
}

#upload-input{
    border-radius: 0%;
    width: auto;
}

.signup-box button{
    /* padding: 5px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 1%;
    cursor: pointer;
    border-radius: 16px;
    width: 20%;
    height: 1.7rem;

}

.add-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #f9e688;
}

.add-box input{
    border: none;
    /* padding: 5px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 1%;
    border-radius: 16px;
    width: 30%;
    height: 1.5rem;
}

.add-box textarea{
    border: none;
    /* padding: 5px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 1%;
    border-radius: 16px;
    width: 30%;
    height: 4rem;
}

/* #review-box{
    height: 2rem;
    border: none;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 1%;
    cursor: pointer;
    border-radius: 16px;
    width: 30%;
} */

.reply-box{
    height: 2rem;
    border: none;
    /* padding: 5px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 1%;
    border-radius: 16px;
    width: 25%;
    margin-bottom: 4rem;
}

#avatar_home{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-left: 65%;
}

.navbar {
    /* justify-content: space-between; */
    /* align-items: center;
    height: 6vh;
    display: grid;
    text-align: center;
    grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr ; 
    background-attachment: fixed;
    background-color: #8a23ce23;
    color: #d0d085; */
    height: 100%;
    width: 13%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}


.navbar a {
    padding: 8px 8px 8px 32px;
    margin-top: 10%;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.navbar a:hover {
    color: #f1f1f1;
}

.navbar img {
    /* margin-left: 3%; */
    width: 90%;
    height: auto;
    float: center;

}

#add {
    /* margin-top: 5%; */
    background-color: #fff6c7;
    width: 30px;
    /* border-radius: 65%; */
    display: inline;
    align-items: center;
    /* margin-left: 94%; */
}
#add img {
    width: 15px;
    height: auto;
}

.reply-box{
    padding: 1rem 10rem;
    width:40%;
    height:80%;
    margin-left: 20rem;
    border-radius: 16px;
}

.reply-box button{
    width: 5rem;
}

.reply-box input{
    width: 22rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 1%;
    border-radius: 16px;
}

.review-box {
    padding: 1rem 10rem;
    width:40%;
    height:80%;
    margin-left: 20rem;
    border-radius: 16px;
}


.review-box h6{
    text-align: right;
}

#tabtab{
    margin-left: 1rem;
}

.review-box img{
    display: block;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.review-box:hover{
    background-color: rgb(37, 37, 37);
}

.logout-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #f9e688;
    margin-top: 10%;
    margin-bottom: auto;
}

.user-review {
    display: grid;
    float: right;
    text-align: right;
}

.review-content button{
    float: right;
    margin-top: -1rem;
    /* background-color: #5a5a5a80; */
}

#user-avatar {
    margin-top: 5rem;
    width: 400px;
    height: auto;
    border-radius: 5%;
}

.map {
    margin-left: 13.2%;
}

.comment-detail{
    display: contents;
    float: right;
    margin: -1rem;
    text-align: right;
    /* margin-bottom: -2rem; */
}

#comment-margin{
    margin-bottom: -2rem;
}


/* .comment-box{
    display: contents;
    float: right;
    margin: -1rem;
    text-align: right;
    margin-bottom: -2rem;
}

.comment-box h5{
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-bottom: -2rem
} */

#comment{
    margin-top: 0.5rem;
    text-align: left;
    margin-left: 3rem;
    margin-bottom: -1rem;
} 

#dlt-btn{
    width: 15px;
    height: 15px;
    /* float: right; */
}

